# Java / Spring Build artifacts
target/
*.class
*.jar
*.war

# Build and deployment folders
/build/
/dist/
nbproject/private/

# IDE settings / files
.vscode/
.idea/
/*.iml
/.settings/
/.classpath
/.project

# Environment variables & Env files
.env

# CodeGraph local indexes
/.codegraph/