# Build and deployment folders
/build/
/dist/
/nbproject/private/
/target/

# Compilation / package outputs
*.class
*.jar
*.war

# IDE files
/.idea/
/*.iml
/.settings/
/.classpath
/.project
/.vscode/

# CodeGraph local indexes
/.codegraph/

# Env files
.env
